body{

margin:0;

font-family:Arial;

text-align:center;

/* ضع هنا رابط خلفية الحديقة */

background-image:url("https://w0.peakpx.com/wallpaper/812/190/HD-wallpaper-spring-field-nature-spring-tulips-field.jpg");

background-size:cover;

background-position:center;

}



.container{

width:80%;

max-width:700px;

min-height:420px;

margin:auto;

margin-top:80px;

padding:30px;

background:#EDE3CF;

border-radius:20px;

position:relative;

color:black;

}



.hidden{

display:none;

}



button{

padding:10px 20px;

font-size:16px;

border:none;

border-radius:10px;

background:pink;

cursor:pointer;

margin:5px;

}



button:hover{

background:#ff8fb1;

}



.giftBox{

font-size:80px;

cursor:pointer;

}



.falling{

position:fixed;

top:-50px;

animation:fall linear infinite;

}



@keyframes fall{

0%{

transform:translateY(0);

}

100%{

transform:translateY(110vh);

}

}


